.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.duration {
  border-bottom: 1px solid #ebebeb;
}

.duration span {
  display: inline-block;
  height: 16px;
  border-radius: 16px;
  border: 1px solid #ebebeb;
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 4px 12px;
}

.duration span:last-child {
  margin-bottom: 8px;
}

.end {
  display: flex;
  justify-content: space-between;
}

.end-options > * {
  margin-left: 4px;
}

.square {
  width: 100%;
  height: 200px;
  background-color: red;
}
