.subpageWrapper {
    width: 100%;
    border: 0;
}
.eventBox {
    background-color: #eee;
    border-radius: 7px;
    padding: 7px;
    margin-bottom: 10px;
}
.eventListItem {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.eventListItem span {
    color: #7294d8;
}