.subpageWrapper {
   margin: 0px;
}

.itemWrapper {
   display: flex;
   flex-direction: row;
   gap: 10px;
   align-items: center;
   height: 30px;
}

.completeButton {
   background-color: #FFF;
   border: 0.5px solid #ccc;
   border-radius: 20%;
   width: 15px;
   height: 15px;
   line-height: 10px;
   color: #7e7e7e;
}

.completeButton:hover {
   box-shadow: 0 0 6px 1px #a1b6c351 inset;  
}