.calendarPage {
  display: flex;
  flex-direction: row;
  min-height: 100%;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

.calendarMain {
  width: 75%;
  flex-grow: 1;
  padding: 0 1em 2em 0;
}

.calendarSidebar {
  width: 25%;
  height: 50%;
  flex-grow: 1;
  line-height: 1.5;
  background: #eaf9ff;
  /* border-right: 1px solid #d3e2e8; */
}

.calendarSidebarSection {
  padding: 1em;
}

.fc { /* the calendar root */
  max-width: 1100px;
  margin: 0 auto;
}

.complete small{
  margin: 0 7px;
  color: grey;
}

.undo:hover{
  cursor: pointer;
}
